.container{
    width: 45%;
    height: 400px;
    color: #fefeff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4%;
}
.calendar {
  width: 45rem;
  height: 52rem;
  background-color: #555555;
  box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 0.4);
}

.month {
  width: 100%;
  height: 12rem;
  background-color: #ff0429;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  text-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
}

.month i {
  font-size: 2.5rem;
  cursor: pointer;
}

.month a {
  font-size: 3rem; 
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
  color: #ead700;
}
.month h5 a{
   font-size: 1rem; 
}

.month p {
  font-size: 1.6rem;
}

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(44.2rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}
span a{
    font-size: 0.8rem;
    }

.days div {
  font-size: 1.4rem;
  margin: 0.3rem;
  width: calc(40.2rem / 7);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
}

.days div:hover:not(.today) {
  background-color: #262626;
  border: 0.2rem solid #ff0429;
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.days a{
    color: #fefeff;
}
.today {
  background-color: #ff0429;
}
.other {
  background-color: #7c7c7c;
}
.deadline {
  background-color: #ead700;
}
.open {
  background-color: #262626;
}
@media only screen and (max-width: 800px) {
.container{
    width: 100%;
    height: 450px;
    margin: 40px 0 40px 0;            
    }
}
@media only screen and (max-width: 650px) {
  
.container{
    height: 350px;
    margin: 10px 0 10px 0;
    }
}