.mono img{
               height: auto;
                width: 250px;
               margin: 3px auto;
            }
            .mono h3{
               margin: 3px auto;
            }
            .mono{
                height: 320px;
            }
            .gallery{
                display: inline-grid;
                grid-template-columns: auto auto auto;
            }
            
              
    @media only screen and (max-width: 1000px) {
         .mono{
            height: 630px;
            margin: 3px auto;
            width: 90%;
        }
        .gallery{
            display:block;
        }
            .mono img{
                width: 100%;
                margin: 3px auto;
            }
    }
     @media only screen and (max-width: 900px) {
            .mono{
                height: 580px;
            }
    }
    @media only screen and (max-width: 800px) {
        
         .mono{
            height: 530px;
        }
    }
            @media only screen and (max-width: 650px) {
              
            .mono{
                width: 90%;
                height: auto;
                margin: 3px auto;
            }  
            }
